body {
	font-family: 'Arial', sans-serif;
	background-color: #333e45;
	color: rgb(206, 206, 206);
}

.container {
	margin-top: 50px;
}

.results-container {
	background-color: #333e45 !important;
	color: #d4e3ed;
}

.navbar {
	margin-bottom: 20px;
}