.no-select {
	user-select: none;
}

.results-container {
	background-color: #536570 !important;
	color: #d4e3ed;
}

h1 {
	font-weight: 700;
	color: #dae7f5;
}

.results-container {
	max-width: 600px;
	margin: 50px auto;
	background-color: #475058;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	overflow: hidden;
}

h5.card-title,
p.card-text {
	margin-bottom: 10px;
}

ul.list-unstyled {
	padding-left: 0;
}


.card-body {
	padding: 20px;
	color: #dae7f5;
	background-color: #475058;
}

.carousel-inner img {
	max-height: 300px;
	object-fit: contain;
}

.carousel-indicators li {
	list-style: none;
	/* Remove list-style markers */
}

.carousel {
	margin-top: 20px;
	margin-bottom: 20px;
}

/* Move carousel indicators below the image */
.carousel-indicators {
	position: static;
	/* bottom: -20px; */
	margin-top: 10px;
	justify-content: center;
}

.carousel-caption {
	position: static;
	/* Default flow after the image */
	text-align: center;
	/* Center-align the text */
	margin-top: 10px;
	/* Add spacing above the caption */
}

.carousel-control-prev,
.carousel-control-next {
	width: 5%;

}


/* //////////// */

body {
	font-family: 'Averia Serif Libre', serif;
	color: #f5f5f5;
	height: 100vh;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #0C1223;
}

.container-fluid {
	text-align: center;
}

.landing-header {
	margin-bottom: 70px;
	width: 800px;
	height: auto;
	font-style: normal;
	font-weight: 100;
	font-size: 40px;
	line-height: 62px;
	text-align: center;
	color: #FFFFFF;
}

.landing-form-container {
	background: #0C1223;
	color: #ccdbe9;
	width: 100%;
	max-width: 400px;
	margin: 0 auto;
}

.input-group {
	background: #0C1223;
	margin: 20px 0;
	position: relative;
}

.input-group label {
	text-align: center;
	font-family: 'Helvetica Neue', Arial, sans-serif;
	/* Centers the text horizontally */
	display: block;
	width: 100%;
}

.input-group input {
	background: #0C1223;
	font-family: 'Averia Serif Libre', serif;
	font-size: 1.8rem;
	line-height: 3.8rem;
	padding: 10px;
	width: 100%;
	border: none;
	outline: none;
	text-align: center;
	color: #f5f5f5;
}

.input-group input::placeholder {
	background: #0C1223;
	color: #494d5a;
	text-align: center;
	font-style: normal;
	font-weight: 100;
	font-size: 1.8rem;
	line-height: 3.8rem;
}

.btn-submit {
	font-family: 'Averia Serif Libre', serif;
	background: #0C1223;
	border: none;
	padding: 10px 20px;
	font-size: 1.2rem;
	cursor: pointer;
	margin-top: 20px;
	width: 100%;
	height: auto;
	font-style: normal;
	font-weight: 100;
	font-size: 30px;
	line-height: 62px;
	text-align: center;
	color: #747276;
	transition: color 0.6s ease, color 0.8s ease;
}

.btn-submit:hover {
	color: #FFFFFF;
}

.autocomplete-list {
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	background: #1c2733;
	color: #f5f5f5;
	max-height: 150px;
	overflow-y: auto;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	z-index: 1000;
}

.autocomplete-list div {
	padding: 10px;
	cursor: pointer;
}

.autocomplete-list div:hover {
	background-color: #2a3644;
}

.flatpickr-input {
	width: 100%;
	padding: 8px;
	font-size: 1rem;
}

.navbar-nav .nav-item {
	margin: 0 15px;
	/* Add some spacing between links */
}

.navbar {
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;
	background: #0C1223;
	font-family: 'Helvetica Neue', Arial, sans-serif;
	font-size: 18px;
	color: #FFFFFF;
}

.navbar-nav {
	display: flex;
	align-items: center;
	justify-content: center;
}

.navbar .nav-item {
	margin: 0 15px;
}

.navbar .nav-link {
	color: #FFFFFF;
	font-size: 1.2rem;
	text-decoration: none;
	transition: color 0.3s ease;
}

.navbar .nav-link:hover {
	color: #ece8cf;
	/* Changes text color on hover to gold */
}

/********* SCROLL BAR START ***********/
/* Style the scrollbar track */
.autocomplete-list::-webkit-scrollbar {
	width: 8px;
}

.autocomplete-list::-webkit-scrollbar-track {
	background: #0C1223;
	/* Dark background color */
	border-radius: 20px;
	/* Rounded corners for the track */
}

/* Style the scrollbar thumb (the draggable part) */
.autocomplete-list::-webkit-scrollbar-thumb {
	background: #475058;
	/* Slightly lighter shade for the thumb */
	border-radius: 20px;
	/* Rounded corners for the thumb */
}

/* Hover effect on the scrollbar thumb */
.autocomplete-list::-webkit-scrollbar-thumb:hover {
	background: #6c7a89;
	/* Lighter shade for hover effect */
}

/* Style for the autocomplete list */
.autocomplete-list {
	display: none;
	/* max-height: 150px; */
	/* Set a max height for the suggestions box */
	overflow-y: auto;
	/* Enable vertical scrolling */
	/* background-color: #1c2733; */
	/* Match the suggestion box background */
	color: #f5f5f5;
	/* Text color for suggestions */
	border-radius: 5px;
	/* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); */
	padding: 10px;
	/* Add padding */
	scrollbar-width: thin;
	/* Firefox: Thin scrollbar */
	scrollbar-color: #475058 #0C1223;
	/* Thumb color and track color for Firefox */
}

/********* SCROLL BAR END ***********/