<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Parabola</title>
	<!-- Bootstrap CSS -->
	<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"> -->

	<!-- Bootstrap Bundle with Popper.js -->
	<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script> -->
	<link href="https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@400;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i&display=swap"
		rel="stylesheet">
	<link rel="stylesheet" href="/static/css/owl.carousel.min.css">
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/css/owl.carousel.min.css">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.5.6/css/ionicons.min.css">
	<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
	<script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
</head>

<body>
	<nav class="navbar navbar-expand-lg fixed-top no-select">
		<div class="container d-flex justify-content-center">
			<ul class="navbar-nav d-flex justify-content-center">
				<li class="nav-item">
					<a class="nav-link" href="/home">Parabola</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/home">About</a>
				</li>
			</ul>
		</div>
	</nav>
	{% block content %}{% endblock %}
	<script src="/static/js/jquery.min.js"></script>
	<!-- <script src="/static/js/popper.js"></script> -->
	<script src="https://unpkg.com/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/owl.carousel.min.js"></script>
	<script src="/static/js/main.js"></script>
	<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>

</html>