{% extends "base.html" %}
{% block content %}
<div class="container mt-5 p-4">
	<div class="row align-items-center">
		<div class="col-md-6">
			<form id="locationForm" action="/calculate" method="POST"
				class="shadow-lg p-4 rounded bg-light results-container">
				<div class="mb-3">
					<label for="name" class="form-label">Name</label>
					<input type="text" class="form-control" id="name" name="name" placeholder="Your Name" required>
				</div>
				<div class="mb-3">
					<label for="dob" class="form-label">Date of Birth</label>
					<input type="date" class="form-control" id="dob" name="dob" required>
				</div>
				<div class="mb-3">
					<label for="hour" class="form-label">Hour of Birth</label>
					<input type="time" class="form-control" id="hour" name="hour" required>
				</div>
				<div class="mb-3">
					<label for="country" class="form-label">Country</label>
					<select class="form-select" id="country" name="country" required>
						<option value="">Select a country</option>
					</select>
				</div>
				<div class="mb-3">
					<label for="city" class="form-label">City</label>
					<select class="form-select" id="city" name="city" required>
						<option value="">Select a city</option>
					</select>
				</div>
				<button type="submit" class="btn btn-primary w-100">Calculate</button>
			</form>
		</div>
		<div class="col-md-6 d-none d-md-block">
			<div class="image-placeholder rounded shadow-lg"></div>
		</div>
	</div>
</div>
{% endblock %}